.header{
    display: flex;
    position: fixed;
    top:0px;
    left:0px;
    width:100%;
    z-index: 50;
    background-color: white;
    align-items: center;
    height:100px;
    margin: 0%;
    
    

}
.header img{
    position:absolute;
    width:150px;
}
.header-button{
    text-transform: uppercase;
    display:flex;
    position:absolute;
    right:20px;
    gap:10px;

}
.header-button button{
    border-radius:0px;
    color: rgb(92, 64, 51);
    font-weight:700;
    font-size: larger;
    border:none;

}
#contact-btn{
    background-color:rgba(224, 88, 42, 1);
    color:white;
}
#contact-btn:hover{
    background-color: rgb(255,99,71,0.8);
}
.header-button button:hover{
    color: rgb(92, 64, 51,0.8);
    background-color: rgb(255,99,71,0.1);
}



@media (max-width: 768px) {
    .header {
        display: grid;
        background-color: red;
        position: fixed;
        top: 0;
        width: 100vw;
        z-index: 1000; 
        justify-content:space-between;
        padding-top:20%;
    }
    
    .menubutton{
        display: "flex";
    }
    .header-button{
        height: 30%;
        width: 5vw;
        font-size: 12px;
        align-items: center;
        justify-content:center;
        background-color: green;
    
    }
    .header-button button{
    border-bottom: 1px black solid;
    } 
    .header img{
       position: absolute;
       top:0;
       left: 0;
    }

}