#AboutUs{
    display: grid;
    grid-template-columns:40% 40%;
    justify-content: center;
    align-items: start;
    height:90vh;
    padding-top: 5%;
    gap:30px;
}
.AboutUs-Info h1{
    font-size: 35px;
    color: rgb(62, 43, 34);
}
.AboutUs-Info p{
    font-size: 21px;
    color:gray;
}
.AboutUs-Info{
    display: flex;
    flex-direction: column;
    place-items: start;
    height:420px;
    
}
.AboutImg{
    display: flex;
    height:410px;
    flex-direction: column;
    place-items: start;
    gap:15px;
    
}
.AboutImg button{
    height: 80px;
    width: 170px;
    border-radius: 5px; 
    color: white; 
    font-size: 14px; 
    border: none; 
    cursor: pointer; 
    background-color:rgb(62, 43, 34);
    transition: background-color 0.3s ease; 
}
.AboutImg button:hover{
    background-color: rgb(255,99,71,0.8);
}
.final-row{
    margin-top:20px;
    background-color:rgb(62, 43, 34) ;
    width:100%;
    color:white;
    height:28vh;
    display: flex;
    justify-content: center;
    


}
 .final-row .column{
    border:1px solid rgba(238, 232, 232, 0.1);
    background-color:rgba(224, 88, 42, 255);
    height:320px;
    line-height: 0;
    width:25%;
    transform: translateY(-40%);
    display: flex;
   justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
    
}

h4{
    line-height: 1px;
    font-size: 23px;
}
