.Contact-Container{
    height:80vh;
    display: grid;
    margin-top: 5%;
    justify-content: center;
    grid-template-columns: 80%;

}
.Contact-Section{
    width: 80vw;
    text-transform: uppercase;
    background-color: rgb(62, 43, 34);
    color: white;
    display: flex;
    justify-content: space-around;
}
.Contact-Form{
    background-color: rgb(62, 43, 34);
    width:40%;  
    transform:translateY(-10%);
    padding: 10px;
    height: 30vw;

}
.Contact-Form form{
    padding-top: 10vw;
    background-color: white;
    height:100%;

}


.form-title {
    color: rgb(62, 43, 34);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}